.serendale {
  position: relative;
  display: flex;
  flex-direction: column;
  /* Stacks children vertically */
  align-items: center;
  /* Center children horizontally */
  text-align: center;
  /* Centers text inside the children */
  height: 495px;
}

.imageSerendale {
  width: 100%;
  bottom: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.area_1 {
  margin-top: 25px;
  width: 290px;
  /* height: 195px; */
  font-size: 33px;
  font-weight: 500;
  /* line-height: 74.4px; */
  letter-spacing: 0.02em;
  text-align: center;
}

.area_2 {
  margin-top: 10px;
  width: 250px;
  font-size: 12px;
  font-weight: 400;
  /* line-height: 19.2px; */
  letter-spacing: 0.6000000238418579px;
  text-align: center;
}

.textColor {
  background-image: linear-gradient(96.63deg, #D79AF5 3.04%, #9393F5 99.24%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.button1 {
  margin-top: 20px;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  background: transparent;
  border: none;
  border-radius: 99px;
  height: 50px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  align-items: center;
  /* This ensures vertical alignment is centered */
  justify-content: center;
  /* This centers the contents horizontally */
  padding: 10px 16px 10px 16px;
  gap: 8px
}

.button1::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 9999px;
  background: linear-gradient(96.63deg, #D79AF5 3.04%, #9393F5 99.24%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.card {
  width: 350px;
}

.cardBodyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgba(255, 255, 255, 1);
}

.roundText {
  margin-top: 30px;
  border-radius: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: 12px 24px;
  width: 180px;
  display: inline-block;
  gap: 10px;
  /* font-size: 18px; */
  font-size: 15px;
  font-weight: 500;
  line-height: 24.3px;
  text-align: center;
}

.cardText1 {
  margin-top: 30px;
  /* font-size: 42px; */
  font-size: 33px;
  font-weight: 400;
  line-height: 50.4px;
  text-align: center;
}

.cardText2 {
  margin-top: 25px;
  /* font-size: 16px; */
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 345px;
  margin-bottom: 20px;
}

.textButton {
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 25px;
  border: 0px transparent;
  /* font-size: 16px; */
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(96.63deg, #D79AF5 3.04%, #9393F5 99.24%);
}

.buttonAu {
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 20px;
  border-radius: 25px;
  border: 0px transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(96.63deg, #D79AF5 3.04%, #9393F5 99.24%);
}

.auText_1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28.11px;
}

.auText_2 {
  font-size: 33px;
  font-weight: 600;
  line-height: 58.8px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.auText_3 {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.textContact {
  font-size: 33px;
  font-weight: 700;
  line-height: 50.4px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.image {
  width: 100%;
  height: 200px;
}

.contact {
  padding: 10px;
  border-radius: 15px;
  background: rgba(27, 26, 31, 1);
}


.imageAu {
  margin-left: auto;
  margin-right: auto;
}

.icon {
  width: 40px;
}


.textCt_1 {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}


.contactContainer {
  width: 97%;
}


@media (min-width: 768px) {
  .serendale {
    height: 565px;
  }

  .area_1 {
    width: 550px;
    font-size: 47px;
  }

  .area_2 {
    width: 470px;
    font-size: 17px;
  }

  .cardText1,
  .auText_2,
  .textContact {
    font-size: 34px;
  }

  .icon {
    width: 50px;
  }

  .textCt_1 {
    font-size: 30px;
  }
  
  .cardText2,
  .auText_3 {
    font-size: 14px;
  }

  .buttonAu {
    margin-left: 0;
  }

  .auText_1,
  .auText_2,
  .auText_3 {
    text-align: left;
  }

  .textAu {
    width: 330px;
    margin-right: 0;
    margin-left: auto;
  }

  .imageAu {
    margin-left: -50px
  }

}

@media (min-width: 820px) {
  .card {
    width: 395px;
  }

  .image {
    height: 350px;
  }

  .textAu {
    width: 420px;
  }

  .icon {
    width: 30px;
  }

  .textCt_1 {
    font-size: 25px;
  }
  

}


@media (min-width: 1024px) {
  .serendale {
    height: 700px;
  }

  .area_1 {
    margin-top: 70px;
    width: 893px;
    font-size: 62px;
  }

  .area_2 {
    width: 593px;
    font-size: 18px;
  }

  .card {
    width: 495px;
  }

  .cardText1,
  .auText_2,
  .textContact {
    font-size: 42px;
  }

  .cardText2 {
    font-size: 18px;
    width: 450px;
  }

  .textButton,
  .roundText,
  .auText_1,
  .auText_3,
  .buttonAu {
    font-size: 18px;
  }

  .auText_1 {
    font-size: 22px;
  }

  .icon {
    width: 38px;
  }

  .textCt_1 {
    font-size: 28px;
  }
  
}

@media (min-width: 1280px) {
  .serendale {
    height: 880px;
  }

  .card {
    width: 630px;
  }

  .cardText2 {
    width: 550px;
  }

  .image {
    height: 400px;
  }

  .textAu {
    width: 600px;
  }

  .contactContainer {
    width: 65%;
  }
}

@media (min-width: 1920px) {
  .serendale {
    height: 1120px;
  }

  .card {
    width: 700px;
  }

  .cardText2 {
    width: 620px;
  }

  .textAu {
    width: 700px;
  }

  .contactContainer {
    width: 50%;
  }

}